{
  "openapi": "3.1.1",
  "info": {
    "title": "Answerable ID API",
    "version": "0.0.0",
    "description": "The routes Answerable ID exposes today. Better Auth endpoints that are not listed here return 404."
  },
  "servers": [
    {
      "url": "https://id.answerable.org"
    }
  ],
  "tags": [
    {
      "name": "Token",
      "description": "User authorisation and machine access"
    },
    {
      "name": "Health",
      "description": "Service liveness and readiness checks."
    },
    {
      "name": "Sign-in",
      "description": "Start and complete authentication."
    },
    {
      "name": "Session",
      "description": "Inspect and end the current session."
    }
  ],
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "emailVerified": {
            "type": "boolean",
            "default": false,
            "readOnly": true
          },
          "image": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "status": {
            "type": [
              "inert",
              "active",
              "disabled"
            ],
            "default": "inert",
            "readOnly": true
          },
          "disabledAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "retiredEmail": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "emailVerified",
          "createdAt",
          "updatedAt",
          "status"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "token": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "ipAddress": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "activeOrganizationId": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "expiresAt",
          "token",
          "createdAt",
          "updatedAt",
          "userId"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "issuer": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "providerId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "accessToken": {
            "type": "string",
            "readOnly": true
          },
          "refreshToken": {
            "type": "string",
            "readOnly": true
          },
          "idToken": {
            "type": "string",
            "readOnly": true
          },
          "accessTokenExpiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "refreshTokenExpiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "scope": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "directoryId": {
            "type": "string",
            "readOnly": true
          },
          "directoryUserId": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "issuer",
          "accountId",
          "providerId",
          "userId",
          "createdAt",
          "updatedAt"
        ]
      },
      "Verification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "identifier": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "identifier",
          "value",
          "expiresAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "SsoProvider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "issuer": {
            "type": "string"
          },
          "oidcConfig": {
            "type": "string"
          },
          "samlConfig": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "providerId": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "revision": {
            "type": "number",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "issuer",
          "providerId",
          "domain"
        ]
      },
      "OauthConsent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "clientId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requestedUserInfoClaims": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "clientId",
          "scopes"
        ]
      },
      "OauthResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "accessTokenTtl": {
            "type": "number"
          },
          "refreshTokenTtl": {
            "type": "number"
          },
          "signingAlgorithm": {
            "type": "string"
          },
          "signingKeyId": {
            "type": "string"
          },
          "allowedScopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customClaims": {
            "type": "json"
          },
          "dpopBoundAccessTokensRequired": {
            "type": "boolean",
            "default": false
          },
          "disabled": {
            "type": "boolean",
            "default": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "policyVersion": {
            "type": "number",
            "default": 1
          },
          "metadata": {
            "type": "json"
          }
        },
        "required": [
          "id",
          "identifier",
          "name"
        ]
      },
      "OauthClientResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "clientId": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "metadata": {
            "type": "json"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "clientId",
          "resourceId"
        ]
      },
      "OauthClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "organizationId": {
            "type": "string",
            "readOnly": true
          },
          "authorizationVersion": {
            "type": "number",
            "default": 1,
            "readOnly": true
          },
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          },
          "clientDiscoveryId": {
            "type": "string"
          },
          "disabled": {
            "type": "boolean",
            "default": false
          },
          "skipConsent": {
            "type": "boolean"
          },
          "enableEndSession": {
            "type": "boolean"
          },
          "subjectType": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "clientCredentialsScopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tos": {
            "type": "string"
          },
          "policy": {
            "type": "string"
          },
          "softwareId": {
            "type": "string"
          },
          "softwareVersion": {
            "type": "string"
          },
          "softwareStatement": {
            "type": "string"
          },
          "redirectUris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "postLogoutRedirectUris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "backchannelLogoutUri": {
            "type": "string"
          },
          "backchannelLogoutSessionRequired": {
            "type": "boolean"
          },
          "tokenEndpointAuthMethod": {
            "type": "string"
          },
          "applicationType": {
            "type": "string"
          },
          "jwks": {
            "type": "string"
          },
          "jwksUri": {
            "type": "string"
          },
          "grantTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "responseTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requirePKCE": {
            "type": "boolean"
          },
          "dpopBoundAccessTokens": {
            "type": "boolean",
            "default": false
          },
          "referenceId": {
            "type": "string"
          },
          "metadata": {
            "type": "json"
          }
        },
        "required": [
          "id",
          "authorizationVersion",
          "clientId",
          "redirectUris"
        ]
      },
      "OrganizationDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "organizationId": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "domain",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "authorizationVersion": {
            "type": "number",
            "default": 1,
            "readOnly": true
          },
          "status": {
            "type": [
              "active",
              "disabled"
            ],
            "default": "active",
            "readOnly": true
          },
          "disabledAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "createdAt",
          "authorizationVersion",
          "status"
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "organizationId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "default": "member"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "status": {
            "type": [
              "active",
              "revoked"
            ],
            "default": "active",
            "readOnly": true
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "organizationId",
          "userId",
          "role",
          "createdAt",
          "status"
        ]
      },
      "Invitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "organizationId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "default": "pending"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "inviterId": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "organizationId",
          "email",
          "status",
          "expiresAt",
          "createdAt",
          "inviterId"
        ]
      },
      "Jwks": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "publicKey": {
            "type": "string"
          },
          "privateKey": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "alg": {
            "type": "string"
          },
          "crv": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "publicKey",
          "privateKey",
          "createdAt"
        ]
      },
      "OauthRefreshToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "token": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "authorizationCodeId": {
            "type": "string"
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requestedUserInfoClaims": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "revoked": {
            "type": "string",
            "format": "date-time"
          },
          "rotatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "rotationReplayResponse": {
            "type": "string"
          },
          "rotationReplayExpiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "authTime": {
            "type": "string",
            "format": "date-time"
          },
          "confirmation": {
            "type": "json"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "token",
          "clientId",
          "userId",
          "scopes"
        ]
      },
      "OauthAccessToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "token": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "authorizationCodeId": {
            "type": "string"
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requestedUserInfoClaims": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refreshId": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "revoked": {
            "type": "string",
            "format": "date-time"
          },
          "confirmation": {
            "type": "json"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "clientId",
          "scopes"
        ]
      },
      "OauthClientAssertion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "expiresAt"
        ]
      }
    },
    "securitySchemes": {
      "apiKeyCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "apiKeyCookie",
        "description": "API Key authentication via cookie"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    }
  },
  "paths": {
    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "getOAuthAuthorizationServer",
        "summary": "Read the public OAuth provider metadata",
        "tags": [
          "Token"
        ],
        "responses": {
          "200": {
            "description": "Native issuer, signing keys and supported public endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "operationId": "getOpenIdConfiguration",
        "summary": "Read the public OAuth provider metadata",
        "tags": [
          "Token"
        ],
        "responses": {
          "200": {
            "description": "Native issuer, signing keys and supported public endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/auth/get-session": {
      "get": {
        "tags": [
          "Session"
        ],
        "description": "Get the current session",
        "operationId": "getSession",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "session": {
                      "$ref": "#/components/schemas/Session"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "session",
                    "user"
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Read the current session"
      }
    },
    "/auth/jwks": {
      "get": {
        "tags": [
          "Token"
        ],
        "description": "Get the JSON Web Key Set",
        "operationId": "getJwks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON Web Key Set retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "description": "Array of public JSON Web Keys",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kid": {
                            "type": "string",
                            "description": "Key ID uniquely identifying the key, corresponds to the 'id' from the stored Jwk"
                          },
                          "kty": {
                            "type": "string",
                            "description": "Key type (e.g., 'RSA', 'EC', 'OKP')"
                          },
                          "alg": {
                            "type": "string",
                            "description": "Algorithm intended for use with the key (e.g., 'EdDSA', 'RS256')"
                          },
                          "use": {
                            "type": "string",
                            "description": "Intended use of the public key (e.g., 'sig' for signature)",
                            "enum": [
                              "sig"
                            ],
                            "nullable": true
                          },
                          "n": {
                            "type": "string",
                            "description": "Modulus for RSA keys (base64url-encoded)",
                            "nullable": true
                          },
                          "e": {
                            "type": "string",
                            "description": "Exponent for RSA keys (base64url-encoded)",
                            "nullable": true
                          },
                          "crv": {
                            "type": "string",
                            "description": "Curve name for elliptic curve keys (e.g., 'Ed25519', 'P-256')",
                            "nullable": true
                          },
                          "x": {
                            "type": "string",
                            "description": "X coordinate for elliptic curve keys (base64url-encoded)",
                            "nullable": true
                          },
                          "y": {
                            "type": "string",
                            "description": "Y coordinate for elliptic curve keys (base64url-encoded)",
                            "nullable": true
                          }
                        },
                        "required": [
                          "kid",
                          "kty",
                          "alg"
                        ]
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Read public token signing keys"
      }
    },
    "/auth/oauth2/authorize": {
      "get": {
        "tags": [
          "Token"
        ],
        "description": "Authorize an OAuth 2.1 request from query parameters or an application/x-www-form-urlencoded POST body",
        "operationId": "authorizeOAuth",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.1 response type (e.g., 'code')"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.1 client ID"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "OAuth 2.1 redirect URI"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.1 scopes (space-separated)"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.1 state parameter"
          },
          {
            "name": "request_uri",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pushed Authorization Request URI referencing stored parameters"
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "PKCE code challenge"
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "PKCE code challenge method"
          },
          {
            "name": "nonce",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OpenID Connect nonce"
          },
          {
            "name": "max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Maximum authentication age in seconds; forces re-authentication when exceeded"
          },
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Requested protected resource(s) for the access token. May be supplied multiple times as repeated 'resource' query parameters (RFC 8707) or as an array of strings."
          },
          {
            "name": "prompt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth2 prompt parameter"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to client with code or error",
            "headers": {
              "Location": {
                "description": "Redirect URI with code or error",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Start a user authorisation with PKCE"
      }
    },
    "/auth/oauth2/consent": {
      "post": {
        "tags": [
          "Token"
        ],
        "description": "Handle OAuth2 consent",
        "operationId": "consentOAuth",
        "security": [
          {
            "apiKeyCookie": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accept": {
                    "type": "boolean",
                    "description": "Accept or deny user consent for a set of scopes"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "claims": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    ]
                  },
                  "oauth_query": {
                    "type": "string"
                  }
                },
                "required": [
                  "accept"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Continue the browser to the server-validated URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "redirect",
                    "url"
                  ],
                  "properties": {
                    "redirect": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Accept or deny access for this authorisation"
      }
    },
    "/auth/oauth2/continue": {
      "post": {
        "tags": [
          "Token"
        ],
        "description": "Continues OAuth2 authorization flow",
        "operationId": "continueOAuthFlow",
        "security": [
          {
            "apiKeyCookie": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selected": {
                    "type": "boolean"
                  },
                  "created": {
                    "type": "boolean"
                  },
                  "postLogin": {
                    "type": "boolean"
                  },
                  "oauth_query": {
                    "type": "string"
                  },
                  "memberId": {
                    "type": "string"
                  }
                },
                "required": [
                  "memberId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Continue the browser to the server-validated URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "redirect",
                    "url"
                  ],
                  "properties": {
                    "redirect": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Select an independently authenticated organisation"
      }
    },
    "/auth/oauth2/flow": {
      "post": {
        "tags": [
          "Token"
        ],
        "operationId": "readOAuthFlow",
        "security": [
          {
            "apiKeyCookie": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "oauth_query": {
                    "type": "string"
                  }
                },
                "required": [
                  "oauth_query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registered application details and the current user's eligible organisations.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "client": {
                      "type": "object",
                      "properties": {
                        "clientId": {
                          "type": "string"
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "uri": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "clientId",
                        "name",
                        "uri"
                      ],
                      "additionalProperties": false
                    },
                    "resource": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "identifier",
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "memberId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "organizationId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "authenticated": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "memberId",
                          "organizationId",
                          "name",
                          "slug",
                          "authenticated"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "selectedMemberId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "selection",
                        "consent"
                      ]
                    }
                  },
                  "required": [
                    "client",
                    "resource",
                    "scopes",
                    "memberships",
                    "selectedMemberId",
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Read the validated application request and available organisations"
      }
    },
    "/auth/oauth2/revoke": {
      "post": {
        "tags": [
          "Token"
        ],
        "description": "Revoke an OAuth2 access or refresh token",
        "operationId": "revokeOAuthToken",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "OAuth2 client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth2 client secret"
                  },
                  "token": {
                    "type": "string",
                    "description": "The token to revoke (access or refresh token)"
                  },
                  "token_type_hint": {
                    "type": "string",
                    "description": "Hint about the token type. Recognized values: `access_token`, `refresh_token`."
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked successfully. The response body is empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Empty object on success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Revoke an opaque access token or refresh family"
      }
    },
    "/auth/oauth2/token": {
      "post": {
        "tags": [
          "Token"
        ],
        "description": "Supports authorization_code with S256 PKCE, refresh_token and client_credentials. User flows bind a single independently authenticated membership, registered client and optional exact resource. Login requires a client-only authorization_code capability and assignment; resource access additionally requires an exact-pair capability and assignment. Renewal requires a separate matching refresh_token capability. Consent applies to each new flow except explicit first-party bypass. Codes and refresh tokens retain native expiry, single-use and rotation checks. Current authentication provenance, deletion state, grant revocation and permissions are rechecked before every exchange, including cached native refresh responses. Login-only access tokens are opaque; resource access tokens are JWTs. Client credentials require exactly one resource and an effective owner/client/resource capability. Scope widening is refused. Required issuance audit and native effects commit together. Lock contention, statement cancellation or unavailable audit storage returns 503 temporarily_unavailable with Retry-After: 1. Retry with fresh client authentication; a new assertion is required for private_key_jwt.",
        "operationId": "issueToken",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "DPoP",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "RFC 9449 DPoP proof JWT for issuing DPoP-bound tokens"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials",
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "resource": {
                    "type": "string",
                    "format": "uri"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "code_verifier": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri"
                  },
                  "refresh_token": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "client_assertion": {
                    "type": "string"
                  },
                  "client_assertion_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The access token issued by the authorization server"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "The type of the token issued",
                      "enum": [
                        "Bearer",
                        "DPoP"
                      ]
                    },
                    "expires_in": {
                      "type": "number",
                      "description": "Lifetime in seconds of the access token"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Refresh token, if issued"
                    },
                    "scope": {
                      "type": "string",
                      "description": "Scopes granted by the access token"
                    },
                    "id_token": {
                      "type": "string",
                      "description": "ID Token (if OpenID Connect)"
                    }
                  },
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          },
          "503": {
            "description": "Tenant issuance capacity or authorization state is busy, a database statement was cancelled, or issuance audit storage is unavailable. Retry after the indicated delay with fresh client authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Minimum delay in seconds before retrying.",
                "schema": {
                  "type": "string",
                  "example": "1"
                }
              }
            }
          }
        },
        "summary": "Exchange an authorisation code, refresh token or client credentials"
      }
    },
    "/auth/oauth2/userinfo": {
      "get": {
        "tags": [
          "Token"
        ],
        "description": "Get OpenID Connect user information (UserInfo endpoint)",
        "operationId": "getUserInfo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bearer or DPoP access token"
          },
          {
            "name": "DPoP",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "RFC 9449 DPoP proof JWT when using a DPoP-bound access token"
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string",
                      "description": "Subject identifier (user ID)"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "nullable": true,
                      "description": "User's email address, included if 'email' scope is granted"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's full name, included if 'profile' scope is granted"
                    },
                    "picture": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "description": "User's profile picture URL, included if 'profile' scope is granted"
                    },
                    "given_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's given name, included if 'profile' scope is granted"
                    },
                    "family_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's family name, included if 'profile' scope is granted"
                    },
                    "email_verified": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether the email is verified, included if 'email' scope is granted"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Read identity claims using an active access token"
      },
      "post": {
        "tags": [
          "Token"
        ],
        "description": "Get OpenID Connect user information (UserInfo endpoint)",
        "operationId": "postUserInfo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bearer or DPoP access token"
          },
          {
            "name": "DPoP",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "RFC 9449 DPoP proof JWT when using a DPoP-bound access token"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string",
                      "description": "Subject identifier (user ID)"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "nullable": true,
                      "description": "User's email address, included if 'email' scope is granted"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's full name, included if 'profile' scope is granted"
                    },
                    "picture": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "description": "User's profile picture URL, included if 'profile' scope is granted"
                    },
                    "given_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's given name, included if 'profile' scope is granted"
                    },
                    "family_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's family name, included if 'profile' scope is granted"
                    },
                    "email_verified": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether the email is verified, included if 'email' scope is granted"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Read identity claims using an active access token"
      }
    },
    "/auth/ok": {
      "get": {
        "tags": [
          "Session"
        ],
        "description": "Check if the API is working",
        "operationId": "ok",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "API is working",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates if the API is working"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad Request. Usually due to missing parameters, or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Unauthorized. Due to missing or invalid authentication."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Forbidden. You do not have permission to access this resource or to perform this action."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Not Found. The requested resource was not found."
          },
          "408": {
            "description": "The request body did not finish within five seconds. Send a complete body in a new request. This is a transport response, not a problem-details response."
          },
          "413": {
            "description": "The request body exceeds 262144 bytes (256 KiB). Reduce the payload. This transport response may precede application headers and is not a problem-details response."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests. You have exceeded the rate limit. Try again later."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error. This is a problem with the server that you cannot fix."
          }
        },
        "summary": "Check that Answerable ID is reachable"
      }
    },
    "/auth/sign-in/sso": {
      "post": {
        "tags": [
          "Sign-in"
        ],
        "description": "This endpoint is used to sign in with an SSO provider. It redirects to the provider's authorization URL",
        "operationId": "signInWithSso",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The email address to sign in with. Used to resolve the provider via the email domain; optional if providerId, domain, or organizationSlug is provided."
                  },
                  "organizationSlug": {
                    "type": "string",
                    "description": "The slug of the organization to sign in with."
                  },
                  "providerId": {
                    "type": "string",
                    "description": "The ID of the provider to sign in with. Can be provided instead of email."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The email domain of the provider. Can be provided instead of email."
                  },
                  "callbackURL": {
                    "type": "string",
                    "description": "The URL to redirect to after successful sign-in."
                  },
                  "errorCallbackURL": {
                    "type": "string",
                    "description": "The URL to redirect to if the sign-in flow fails."
                  },
                  "newUserCallbackURL": {
                    "type": "string",
                    "description": "The URL to redirect to after sign-in if the user is newly registered."
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Scopes to request from the provider."
                  },
                  "loginHint": {
                    "type": "string",
                    "description": "Login hint to send to the identity provider (e.g., email or identifier). If supported, sent as 'login_hint'."
                  },
                  "additionalParams": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Extra query parameters to append to the OIDC provider authorization URL. RFC 6749 reserved keys (state, client_id, redirect_uri, response_type, code_challenge, code_challenge_method, scope) are rejected. Not supported for SAML providers."
                  },
                  "requestSignUp": {
                    "type": "boolean",
                    "description": "Explicitly request sign-up. Useful when disableImplicitSignUp is true for this provider."
                  },
                  "providerType": {
                    "type": "string",
                    "enum": [
                      "oidc",
[...]
